<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Sistema Encurtado de URL</mat-card-title>
        <mat-card-subtitle>Implementando um ecurtado de URL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Encurtado de URL desenvolvido com o intuito de fazer um mini sistema para encurtar URLs.<br />
            Esse é um sistema para gerenciamento de urls simulando um simples encurtador de url desenvolvido em Angular e
            Spring Boot 2. <br />O sistema está rodando localmente.<br />
            O sistema tem como principal foco realizar uma url padrão e gerar uma encurtada que de para o usuario ter uma maior facilidade para compartilhar.
            <br /><br /> O sistema está em processo de desenvolvimento e encontra-se falhas, porém estamos nos adequando para que seja feita a correção de falhas com o passar do tempo.
            <br /> At.te: Victor Diniz Bezerra de Oliveira
           </p>
    </mat-card-content>
</mat-card>