<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Sistema Encurtado de URL</mat-card-title>
        <mat-card-subtitle>Implementando um ecurtado de URL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Encurtado de URL desenvolvido com o intuito de fazer um encurtar URLs.<br />
            Esse é um sistema para gerenciamento de urls simulando um simples encurtador de url desenvolvido em Angular e
            Spring Boot na versão 2.3.12.RELEASE. <br />O sistema está rodando localmente e tem como principal foco receber uma url padrão e gerar uma encurtada tendo assim uma maior facilidade para compartilhar.
            <br />O sistema pode ser realizados testes localmente em sua maquina, caso encontre alguma melhoria que possa ser aplicada a ele nos informe no Issues no GitHub <a href="https://github.com/DeVector/urlShort/issues">aqui</a>.
            <br /> At.te: Victor Diniz Bezerra de Oliveira
           </p>
    </mat-card-content>
</mat-card>